* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* doing this will make sure we can always see the entire canvas element even when the browser window is too small */
  max-width: 100%;
  max-height: 100%;
}

#layer1,
#layer2,
#layer3,
#layer4,
#player,
#player1,
#angler1,
#angler2,
#lucky,
#projectile,
#gears,
#hiveWhale,
#drone,
#fireExplosion,
#smokeExplosion {
  display: none;
}
.flex {
  display: flex;
  justify-content: center;
}
